@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: xhelvetica;
  src: url('/fonts/helvetica.ttf');
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-helvetica: xhelvetica;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .searchBar:hover{
    @apply border-green-700 border-[2px]
  }
  .amount{
    @apply flex justify-between place-items-baseline
  }
  .amount :first-child{
    @apply font-extrabold text-4xl
  }
  .amount :last-child{
    @apply font-semibold mx-2
  }
  .action :hover{
    @apply bg-gray-200
  }
}
